# **Neural Network**
In this code I have used NN Regression Model to Predict the Housing Price.

In [1]:
#Importing Required Libraries
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

from matplotlib import pyplot as plt

In [2]:
#Importing the Dataset
df = pd.read_excel( '/content/Real estate valuation data set.xlsx' )
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [10]:
#Defining Dependent and Independent Variables i.e. 'Y' and 'x' resp. & splitting the data for training and testing
X = df.iloc [: , 2 : -1]
y = df.iloc[ : , -1]
y = np.ravel(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [11]:
#Feature Scaling to Standardise
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform (X_test)

In [14]:
#Applying Model
NN = MLPRegressor (max_iter = 300, activation = 'relu', hidden_layer_sizes = (100, 100))
NN.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (300) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor(hidden_layer_sizes=(100, 100), max_iter=300)

In [15]:
#Making Prediction
NN_pred = NN.predict(X_test)

In [17]:
#Checking Accuracy
print("MSE : ", mean_squared_error(y_test, NN_pred))
print("MAE : ", mean_absolute_error(y_test, NN_pred))

MSE :  42.425602505631076
MAE :  4.982924864198146